<section>



<mat-card class="container flexivel horizontal quebra-linha">
  <p>Consulta</p>
</mat-card>
</section>


<mat-card class="container flexivel horizontal quebra-linha alinha-centro">
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
  <div class="item">dados</div>
</mat-card>
